# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
2021 NPBC Survey Calcs.csv
2021 NPBC Survey Calcs.csv
2021 NPBC Survey Calcs.csv
2021 NPBC Survey Calcs_All Final.csv
Data/responses 4-25-21.csv
Data/responses 6-5-21.csv
Data/Summaries/2021 NPBC Survey Calcs.xlsx
2021 NPBC Survey Calcs_All Final.csv
2021 NPBC Survey Calcs_All Final.csv
*.csv
2021 NPBC Survey Calcs.csv
2021 NPBC Survey Calcs.csv
